<!-- we are using bootStrap grid for proper allignment -->
<div class="bootstrap-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 ">
        <div class="container">
          <h2>logo added</h2>
        </div>
        <h1 class="text-center">Register here!!</h1>

        <!--  form  -->
        <form >
          <!--  user name field  -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter Here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <!--  password field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input type="password" matInput placeholder="Enter Here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <!--  First Name -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter Here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

           <!--  Last Name -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <!--  Email  -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput placeholder="Enter Here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <!-- phone number -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input type="number" matInput placeholder="Enter Here">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <div class="container" style="text-align: center;">
            <button mat-raised-button color="primary">Register</button>
            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
          </div>
         </form>
      </div>
    </div>
  </div>
</div>
